body {
    background-color: var(--p2);
}

.title {
    color: var(--p1);
    margin: var(--space-large) 0 0 var(--space-large);
    font-size: 3rem;
    margin-bottom: var(--space-large);
}

.todoList {
    margin: 0 var(--space-large);
    display: grid;
    column-gap: var(--space-large);
    row-gap: var(--space-large);
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}