:root{
    --p1: #51927E;
    --p1-hover: #5faf97;
    --p2: #F1FFFB;
    --black: #2c2c2c;
    --gray: #444444;
    
    --space-large: 4rem;
    --space-medium: 2rem;
    --space-small: 1rem;
    --space-xsmall: .5rem;

    font-size: 50%;
}

* {
    font-family: Kanit, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: var(--black);
}

button {
    background-color: #FFF;
    cursor: pointer;
}