@use '../../variables';

.button {
    background-color: variables.$p1;
    color: #FFF;
    border-radius: variables.$space-xsmall;
    padding: variables.$space-xsmall;
    padding-left: variables.$space-medium;
    margin-top: variables.$space-medium;
}