.bullet {
    
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    h1 {
        font-weight: 500;
        margin-right: 1rem;
    }
}

.button {
    background-color: var(--p1);
    color: #FFF;
    border-radius: var(--space-xsmall);
    height: var(--space-large);
    display: flex;
    align-items: center;
    padding: 2rem;
    width: 100%;

    .icon {
        margin-right: var(--space-small);
    }
}