.title {
    font-weight: 500;
}

.button {
    background-color: var(--p1);
    color: #FFF;
    border-radius: var(--space-xsmall);
    padding: var(--space-xsmall);
    padding-left: var(--space-medium);
    margin-top: var(----space-medium);
}